@model ST.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Employee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Experience)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Experience)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDeleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
