@model ST.Models.News

@{
    ViewBag.Title = "Details for News: " + Model.Name;
}

<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

<fieldset>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Name):</b>
         @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Information):</b>
         @Html.DisplayFor(model => model.Information)
    </div>

@*    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDeleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>*@
    <br />
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-large btn-info" }) |
    @Html.ActionLink("View News", "Index", "News", new { @class = "btn btn-large btn-info" })
</p>
